h3 {
    font-family: 'Wix Madefor Display', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 800;
}

.app-description {
    color: #EEE0C9;
    font-size: 60px;
}

.home-section .custom-mb {
    margin-bottom: 100px; 
}

.custom-mt {
    margin-top: 45px;
}

.feature-heading {
    font-size: 40px;
}

.feature-text {
    font-size: 20px;
}

.image-container {
    border-radius: 20px; 
    height: auto;
    max-width: 100%;
}
