.navbar {
    background-color: #475C5A;
    font-size: 21px !important;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
}

.nav-link {
    color: #EEE0C9 !important;
}

.nav-link:hover {
    color: rgb(57, 81, 68) !important; /*will change text-color of element on hover */
}