@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Wix+Madefor+Display:wght@800&display=swap');


body {
  background-color: #EAC696;
} 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

h2 {
  font-family: 'Wix Madefor Display', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
} 

p {
  font-family: 'Montserrat', sans-serif;
}

#root {
<<<<<<< HEAD
  /* background: linear-gradient(45deg, #F5E3CC 0%, #7F5539 100%); */
=======
>>>>>>> 07816d4cce5c0c57784b3e6eb4ecb9c782aaf2c8
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}
