@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Wix+Madefor+Display:wght@800&display=swap');


body {
  background-color: #EAC696;
  /* margin: 0; */
} 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

h2 {
  font-family: 'Wix Madefor Display', sans-serif;
}

html, body {
  /* background-color: #EAC696; */
  margin: 0;
  padding: 0;
} 

p {
  font-family: 'Montserrat', sans-serif;
}

#root {
  background: linear-gradient(45deg, #F5E3CC 0%, #7F5539 100%);
  min-height: 100vh;
}
